<div class="bkg container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-2 brand">
      <img src="/assets/images/logo-black-removebg-preview.png" />
    </div>
    <div class="col-sm-12 col-md-6 contactInfo">
      <p>Gold Tower</p>
      <p>
        Cluster I, Jumeirah Lakes Tower (JLT)<br />
        Dubai, U.A.E.
      </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-4 menu">
      <a routerLink="/home">HOME</a>
      <a routerLink="/about">ABOUT <span id="_us">US</span></a>
      <a routerLink="/contact">CONTACT</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 copyright-wrapper">
      <p id="footer-copyright">&#169;2022 UAI MIDDLE EAST</p>
    </div>
  </div>
</div>
