<app-navbar></app-navbar>
<div class="bkg">
  <div class="topTitle shadow">
    <h1>UAI MIDDLE EAST, DMCC</h1>
  </div>
  <div class="body">
    <div class="aboutSummary container">
      <div class="text-wrapper header-wrapper">
        <p class="gold">UAI Middle East DMCC</p>
        <p>
          was founded by Mr. S. K. Chauhan, an American entrepreneur, having his
          business in USA since 1998. He built a team of highly experienced
          executives to grow his international business in the field of Gold,
          Oil & Gas based in Dubai.
        </p>
      </div>
    </div>
    <hr />

    <div class="founders-wrapper">
      <div class="executiveHeadingWrap">
        <h1 class="header">EXECUTIVE TEAM</h1>
      </div>
      <div class="founder1 container-fluid">
        <div class="row">
          <div class="profileImgWrapper col-md-5 col-lg-4 col-xl-3">
            <img class="profileImg" src="/assets/images/skuai.jpg " 
            alt="image of SK Chauhan"/>
          </div>
          <div class="founderTitleWrapper col-md-7 col-lg-8 col-xl-9 my-auto">
            <h3 class="aFounderTitle align-middle">
              Mr. S.K. Chauhan,<br />
              Chairman, CEO
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="text-wrapper col-12">
            <p>
              He is a U.S. Citizen, born in India, and holds a Bachelor Degree
              in Electrical Engineering [BSEE] 1976-81 from Kurukshetra
              University, India. Also, he received Professional Engineer [PE]
              license from State of Tennessee, USA. Mr. Chauhan is a
              professional entrepreneur having experience working as a Marine
              Engineer in the Indian Merchant Navy from 1982 to 1985. He was a
              Consulting Engineer from 1985 to 1991, and a Chief Engineer from
              1991 to 1998. He is the founder of UAI Inc. from 1998 to present
              in the USA and now the founder of UAI MIDDLE EAST in Dubai, U.A.E.
            </p>
            <br /><br />
            <p>
              As UAI Inc. Mr. Chauhan designed and implemented Smart City
              Solutions to Utility Industry [Electric, Water and Gas], EMA,
              Police, Fire, Healthcare and Real Estate sectors in over 135
              Cities in 23 States in USA, spanned across Alaska to Florida and
              Puerto Rico. He migrated to USA with 42 dollars in his pocket and
              achieved $83 Million USD in contracts as the sole proprietor of
              UAI, Inc. He sold his Utility Division to Trimble, current a
              market cap greater than 13 billion USD, [Stock Symbol NASDAQ:
              TRMB] for an undisclosed amount.
            </p>
            <br /><br />
            <p>
              Now Mr. Chauhan is poised to grow his international business,
              having over 38 years of entrepreneurial experience, and travelled
              more than 25 countries, developing a vast international network in
              the area of Gold, Oil & Gas, and further into Healthcare IT, Smart
              City, commodity trading and project finance.
            </p>
          </div>
        </div>
      </div>
      <div class="founder2 container-fluid">
        <div class="row">
          <div class="profileImgWrapper col-md-5 col-lg-4 col-xl-3">
            <img class="profileImg" src="/assets/images/mohamediqbal.jpg" 
            alt="image of Mohamed Iqbal"/>
          </div>
          <div class="founderTitleWrapper col-md-7 col-lg-8 col-xl-9 my-auto">
            <h3 class="aFounderTitle">
              Mr. Mohamed Iqbal Ansari,<br>Executive Vice President
            </h3>
          </div>
        </div>
        <div class="row">        
        <div class="text-wrapper col-12">
          <p>
            Mr. Ansari works on logistics and planning our business in the Oil
            and Gas Sector worldwide, working with Key Suppliers, Buyers, and
            Financing Partners.
          </p>
          <br /><br />
          <p>
            He is a citizen of Mumbai, India, Emirates Resident, and has over 35
            years of business experience in running multiple fields of textile,
            energy, finance and other related sectors. Mr. Ansari and his family
            have been pioneers of the Kamani Engineering Ltd. involving electric
            power infrastructure projects, since the independence of India. His
            family has also been instrumental in the economic development of the
            post India independence working closely with key political figures
            of India.
          </p>
          <br /><br />
          <p>
            Among Gold,Oil & Gas initiatives based in Dubai, UAE, Mr. Ansari is
            poised to expand its business in the Middle East, Africa, Asia and
            other such regions in the areas of Energy, Healthcare,
            Infrastructure, Pharma and other such vertical sectors.
          </p>
        </div>
      </div>
      </div>
      <div class="founder2 container-fluid">
        <div class="row">
          <div class="profileImgWrapper col-md-5 col-lg-4 col-xl-3">
            <img class="profileImg" src="/assets/images/ganesh-bagade-500.jpg"
            srcset="/assets/images/ganesh-bagade-500.jpg 500w,
            /assets/images/ganesh-bagade.jpg 1000w"
            alt="image of Ganesh Bagade" />
          </div>
          <div class="founderTitleWrapper col-md-7 col-lg-8 col-xl-9 my-auto">
            <h3 class="aFounderTitle">
              Mr. Ganesh Bagade,<br>Manager Gold Business Unit
            </h3>
          </div>
        </div>
        <div class="row">
        <div class="text-wrapper col-12">
          <p>
            Mr. Bagade works on logistics and planning in Gold Business Unit
            worldwide, working with Key Suppliers, Buyers, and Financing
            Partners.
          </p>
          <br /><br />
          <p>
            Mr. Ganesh Bagade is an Indian Citizen, a graduate in commerce and
            an expert in jewelery manufacturing, having his family retail
            business since 1947, almost a 70-year-old brand. Bagade Jewelers
            Pvt. Ltd., [AN ISO 9001:2008 CERTIFIED COMPANY], his Jewellery
            Business, was started in 2005, almost 15 years ago.
          </p>
          <br /><br />
          <p>
            He started the jewelery business from Shrigonda, a town in
            Ahmednagar district, Maharashtra State, India and then expanded it
            into Mumbai, the financial capital of India. And now he joins UAI
            Middle East DMCC, on the path to expand its gold business
            internationally based in Dubai.
          </p>
          <br /><br />
          <p>
            He has gained enough experience at every level of business, from a
            retail showroom to managing chain stores to manufacturing jewelery.
            Under his leadership, a team of over 500 people are working to
            fulfill the mission to grow his gold business.
          </p>
          <br /><br />
          <p>
            Mr. Bagade says “Gold is one of the prominent assets of the world
            and considered a universal currency parallel to the United States
            Dollar”.
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
