<div id="home-services" class="container-fluid home-services">
  <p class="locationText">
    UAI Middle East DMCC, is a company based in Jumeirah Lake Towers [JLT],
    working in Gold and Oil trading business worldwide. We have been developing
    working relationships with numerous international Gold, Oil & Gas trading
    partners in refinery, upstream & downstream, gold mine, bullion house,
    wholesale and retail sectors. Our partners network is spanned across
    including but not limited to Africa, UAE, Europe, USA and Asia.
  </p>
  <hr />
  <h1 class="text-center serve-margin">TRADING SERVICES</h1>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-sm-12 icon-wrap">
      <img
        id="gold-icon"
        class="icon"
        src="/assets/images/icons-gold-bars.jpg"
      />
    </div>
    <div class="col-8"></div>
  </div>
  <div class="row justify-content-center" id="metalsRow">
    <!--Start Cards-->
    <div id="card2" class="col-lg-4 card-col">
      <div class="card bg-light shadow">
        <div class="card-body">
          <h4 class="card-title">Precious Metals</h4>
          <div class="center-card-txt">
            <ul class="card-text">
              <hr />
              <li>Gold Bars</li>
              <hr />
              <li>Bullion Bars</li>
              <hr />
              <li>Gold Jewelry</li>
              <hr />
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="infoText" id="preciousMetalText">
        In the Precious Metal sector, UAI M.E. working with our global network
        of strategic partners, imports Gold Dore Bars from gold mines in several
        countries, mainly in Africa and gets it refined into Bullion Bars in
        accredited Gold Refineries in UAE, then ultimately sells it to Bullion
        Houses, Wholesale and Retail Jewellery buyers. In addition, we work with
        our global gold trading desk partners achieving low risk higher net
        margins for gold transactions.
      </div>
    </div>
  </div>
  <div class="row">
    <hr id="secondHR" />
  </div>
  <div class="row justify-content-center">
    <div class="offset-lg-8 col-lg-4 icon-wrap">
      <img id="oilgas-icon" src="/assets/images/icons-oil-pump.jpg" />
    </div>
  </div>
  <div class="row justify-content-center" id="oilTextRow">
    <!--Start Cards-->
    <div class="col-lg-8 order-lg-first order-sm-last">
      <div class="infoText" id="oilText">
        In the Oil and Gas sector, UAI M.E. working with our global network of
        upstream and downstream strategic business partners, buy and sell crude
        and oil products as listed here. Our company presence in Dubai allows us
        to gain easy access to most major suppliers in the Middle East and
        exports our products globally. In addition, we work with our global oil
        trading desk partners achieving low risk higher net margins for oil
        transactions.
      </div>
    </div>
    <div id="card3" class="col-lg-4 order-lg-last order-first card-col">
      <div class="card bg-light shadow">
        <div class="card-body">
          <h4 class="card-title">Oil & Gas</h4>
          <div class="center-card-txt">
            <ul class="card-text">
              <hr />
              <li>Petroleum gas</li>
              <hr />
              <li>Crude Oil</li>
              <hr />
              <li>Jet Fuel</li>
              <hr />
              <li>Diesel Fuel</li>
              <hr />
              <li>Natural gas</li>
              <hr />
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
