<app-color-navbar></app-color-navbar>
<app-locations-landing></app-locations-landing>

<div class="locationSummary">
  <p>
    UAI Middle East DMCC, including our strategic business partner and Head of
    Gold Business Unit, has the following seven locations:
  </p>
</div>
<div class="container-fluid bkg">
  <div id="leftCol">
    <h2 id="menuTitle">LOCATIONS</h2>
    <ul class="nav nav-stacked" id="locationList">
      <li>
        <a id="menuItem1" class="menuText" (click)="scrollToLocation($event)"
          >Dubai - UAI Middle East DMCC [HQ]</a
        >
      </li>
      <li>
        <a id="menuItem2" class="menuText" (click)="scrollToLocation($event)"
          >Charkop - Bagade Jewellery Factory</a
        >
      </li>
      <li>
        <a id="menuItem3" class="menuText" (click)="scrollToLocation($event)"
          >Wagholi Branch - Bagade Retail Store</a
        >
      </li>
      <li>
        <a id="menuItem4" class="menuText" (click)="scrollToLocation($event)"
          >Akluj Branch - Bagade Retail Store</a
        >
      </li>
      <li>
        <a id="menuItem5" class="menuText" (click)="scrollToLocation($event)"
          >Belwandi Branch - Bagade Retail Store</a
        >
      </li>
      <li>
        <a id="menuItem6" class="menuText" (click)="scrollToLocation($event)"
          >Kashti Branch - Bagade Retail Store</a
        >
      </li>
      <li>
        <a id="menuItem7" class="menuText" (click)="scrollToLocation($event)"
          >Shrigonda Branch - Bagade Retail Store</a
        >
      </li>
    </ul>
  </div>

  <div id="mainCol">
    <div id="loc1" class="location">
      <div>
        <h2 id="locImg1" class="locHeader">UAI Middle East DMCC [HQ]</h2>
        <div class="loc">
          <img class="locImg" src="/assets/images/AU_Tower.jpg" 
          alt="Gold Tower"/>
        </div>
        <div class="description">
          <h4>Gold, Oil & Gas Trading</h4>
          <p>
            Gold Tower, Cluster I, Jumeirah Lake Towers [JLT],<br />
            Dubai, United Arab Emirates
          </p>
        </div>
      </div>
    </div>

    <div id="loc2" class="location">
      <div>
        <h2 class="locHeader">Charkop</h2>
        <div class="loc">
          <img class="locImg" src="../../assets/images/location-Charkop-500.jpg"
            srcset="../../assets/images/location-Charkop-500.jpg 500w,
            ../../assets/images/location-Charkop-1000.jpg 1000w,
            ../../assets/images/location-Charkop-1500.jpg 1500w"
            alt="people at charkop location"
            />
        </div>
        <div class="description">
          <h4>Bagade Jewellery Factory</h4>
          <p>
            2nd Floor, Plot No. 137 AB, 
            Metro Chambers,<br>
            Kandivali Co-operative Industrial Estate Ltd,<br>
            Govt. Industrial Estate,<br>
            Charkop, Kandivali (East), 
            Mumbai – 400067, India
          </p>
        </div>
      </div>
    </div>
    <div id="loc3" class="location">
      <div>
        <h2 class="locHeader">Wagholi</h2>
        <div class="loc">
          <img class="locImg" src="/assets/images/location-Wagholi-500.jpg"
          srcset="../../assets/images/location-Wagholi-500.jpg 500w,
            ../../assets/images/location-Wagholi-1000.jpg 1000w,
            ../../assets/images/location-Wagholi-1500.jpg 1500w"
            alt="equipment at Wagholi location" />
        </div>
        <div class="description">
          <h4>Bagade Retail Store</h4>
          <p>
            1180, Hissa No. 2, Blue Sky Icon, Baif Road,<br />
            Opp. Moze College, Wagholi,<br />
            Pune - 412207, India
          </p>
        </div>
      </div>
    </div>
    <div id="loc4" class="location">
      <div>
        <h2 class="locHeader">Akluj</h2>
        <div class="loc">
          <img class="locImg" src="/assets/images/location-Akluj-500.jpg" 
          srcset="../../assets/images/location-Akluj-500.jpg 500w,
            ../../assets/images/location-Akluj-1000.jpg 1000w,
            ../../assets/images/location-Akluj-1500.jpg 1500w"
            alt="customers at Akluj location"
            />
        </div>
        <div class="description">
          <h4>Bagade Retail Store</h4>
          <p>
            Jamdar Niwas, Vijay Chowk,<br />
            Akluj, Dist. Solapur - 41310, India
          </p>
        </div>
      </div>
    </div>
    <div id="loc5" class="location">
      <div>
        <h2 class="locHeader">Belwandi</h2>
        <div class="loc">
          <img class="locImg" src="/assets/images/location-Belwandi-500.jpg" 
          srcset="../../assets/images/location-Belwandi-500.jpg 500w,
            ../../assets/images/location-Belwandi-1000.jpg 1000w,
            ../../assets/images/location-Belwandi-1500.jpg 1500w"
            alt="employees at Belwandi location"
          />
        </div>
        <div class="description">
          <h4>Bagade Retail Store</h4>
          <p>
            At post Belwandi (bk),<br />
            Tal Shrigonda, Opp S.T. Stand,<br />
            Belwandi, Ahmednagar - 423109, India
          </p>
        </div>
      </div>
    </div>
    <div id="loc6" class="location">
      <div>
        <h2 class="locHeader">Kashti</h2>
        <div class="loc">
          <img class="locImg" src="/assets/images/location-Kashti-500.JPG" 
          srcset="../../assets/images/location-Kashti-500.jpg 500w,
            ../../assets/images/location-Kashti-1000.jpg 1000w,
            ../../assets/images/location-Kashti-1500.jpg 1500w"
            alt="customers at Kashti location"
          />
        </div>
        <div class="description">
          <h4>Bagade Retail Store</h4>
          <p>
            Bhairavnath Chowk, Kashti,<br />
            Maharashtra - 41470, India
          </p>
        </div>
      </div>
    </div>
    <div id="loc7" class="location">
      <div>
        <h2 class="locHeader">Shrigonda</h2>
        <div class="loc">
          <img class="locImg" src="/assets/images/location-Shrigonda-500.JPG" 
          srcset="../../assets/images/location-Shrigonda-500.jpg 500w,
            ../../assets/images/location-Shrigonda-1000.jpg 1000w,
            ../../assets/images/location-Shrigonda-1500.jpg 1500w"
            alt="customers at Shrigonda location"
          />
        </div>
        <div class="description">
          <h4>Bagade Retail Store</h4>
          <p>
            650, Kasar Galli,<br />
            Dilli Darwaja Parisar Shrigonda,<br />
            Dist. Ahmednagar - 413701, India
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
